<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", "/" , class:"nav-link active"%>
        </li>
        <li class="nav-item">
          <%= link_to "Forums", foruns_path, class:"nav-link active"%>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User Actions
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to "My posts", "/user_posts" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "My comments", "/user_comments" %></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex container justify-content-center justify-content-evenly me-0" role="search">
        <div class="d-flex container justify-content-end" >
            <%= button_to "Logout", logout_path, method: :delete, class:"btn btn-outline-danger"%>
        </div>
      </div>
    </div>
  </div>
</nav>


      
      
      