<div class="d-flex flex-column justify-content-center container">
    <% @posts.each do |post| %>
        <% if post.id_owner == Current.user.id%>
            <div class="card mt-4">
                <div class="d-flex card-header"> 
                    <h6><%= @foruns.find(post.forun.id).nome%></h6>
                    <h6 class="ms-auto"><%= post.postdate%></h6> 
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= post.title %></h5>
                    <p class="card-text"><%= post.body %></p>
                </div>
                <div class="d-flex card-footer justify-content-end">
                    <%= link_to "Go to", @foruns.find(post.forun.id), class:"btn btn-outline-primary"%>
                </div>
            </div>
        <% end %>
    <% end %>
</div>

